<div class="row  mt-3"></div>
<h2>Ajout Produit</h2>
<div class="col-md-12">
    <form method="post" action="/dashboard">

        <div class="mb-3">
            <label for="inputTitre" class="form-label">Titre</label>
            <input name="titre" type="text" class="form-control" id="inputTitre" aria-describedby="titreHelp">
        </div>
        <div class="mb-3">
            <label for="inputDescription" class="form-label">Description</label>
            <input name="description" type="text" class="form-control" id="inputDescription"
                aria-describedby="descriptionHelp">
        </div>
        <div class="mb-3">
            <label for="inputImage" class="form-label">Image</label>
            <input name="image" type="text" class="form-control" id="inputImage">
        </div>
        <div class="mb-3">
            <label for="inputDate" class="form-label">Date</label>
            <input name="date" type="date" class="form-control" id="inputDate" aria-describedby="datenHelp">
        </div>
        <div class="mb-3">
            <label for="inputAvis" class="form-label">Avis</label>
            <input name="avis" type="text" class="form-control" id="inputAvis" aria-describedby="avisHelp">
        </div>
        <div class="mb-3">
            <label for="inputPrix" class="form-label">Prix</label>
            <input name="prix" type="text" class="form-control" id="inputPrix" aria-describedby="prixHelp">
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
</div>
</div>