<div class="row  mt-3"></div>
<h2>Ajout Utilisateur</h2>
<div class="col-md-12">
    <form method="post" action="/dashboard">

        <div class="mb-3">
            <label for="inputUsername" class="form-label">Username</label>
            <input name="username" type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input name="password" type="text" class="form-control" id="inputPassword" aria-describedby="passwordHelp">
        </div>
        <div class="mb-3">
            <label for="inputFName" class="form-label">First name</label>
            <input name="f_name" type="text" class="form-control" id="inputFName" aria-describedby="fNameHelp">
        </div>
        <div class="mb-3">
            <label for="inputLName" class="form-label">Last name</label>
            <input name="l_name" type="text" class="form-control" id="inputLName" aria-describedby="lNameHelp">
        </div>


        <div class="mb-3">
            <label for="inputImage" class="form-label">Image</label>
            <input name="image" type="text" class="form-control" id="inputImage">
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
</div>
</div>